<!DOCTYPE html>
<html>

<head>
    <title>Morse Code Translation Result</title>
</head>

<body>
    <h1>Translation Result</h1>
    <style>
        h1 {
            text-align: center;
            font-family: 'Raleway', sans-serif;
            font-size: 50px;
            font-weight: 800;
        }

        p {
            text-align: center;
            font-family: 'McLaren', cursive;
            font-size: 25px;
        }

    </style>
    {% if translated_text %}
    <p>{{ translated_text }}</p>
    {% else %}
    <p>No translation available.</p>
    {% endif %}
    <br>
    <a href="{% url 'home' %}">Go back</a>
</body>

</html>